
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik&display=swap');

:root {
    --Raleway: 'Raleway', sans-serif;
    --graylink: #557983;
    --button: #5BBD93;
    --mango: #FB9927;
    --whitebkg: #EFF5F6;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--Raleway);
    background: var(--whitebkg);
}

button {
    font-family: var(--Raleway);
}

header {
    display: flex;
    width: 80%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links {
    display: flex;
}
.logo-container {
    flex: 1;
}
.logo {
    font-weight: 400;
}

nav {
    flex: 2;
}
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    color: var(--graylink);
    font-size: 18px;
    text-decoration: none;
}

.presentation {
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction {
    flex: 2;
}
.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
}
.intro-text p {
    color: var(--graylink);
    margin-top: 5px;
    font-size: 22px;
}
.cta {
    padding: 50px 0px 0px 0px;
}
.cta-signup {
    background: transparent;
    color: var(--button);
    border: 2px solid var(--button);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    transition:all 0.3s ease;
}
.cta-login {
    background: var(--button);
    color: whitesmoke;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin: 30px 0px 0px 30px;
    transition:all 0.3s ease;
}
.cta-signup:hover {
    background: var(--mango);
    border: none;
    color: whitesmoke;
}
.cta-login:hover {
    background: var(--mango);
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 40vh;
}
.cover img {
    height: 100%;
    animation: drop 1.5s ease;
}

footer {
    background: var(--graylink);
}
.footer-container {
    color: #DEECF0;
    font-size: 12px;
}
.f-text {
    display: flex;
    height: 5vh;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.f-text h2 {
    margin-top: 15px;
}
.f-text p {
    color: #7DA2B0;
}
.f-text a {
    color: var(--button);
    list-style: none;
    text-decoration: none;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
        padding: 5px 0px 5px 0px;
    }
    .cta {
        padding: 10px 0px 10px 0px;
    }
    .cta-login {
        margin: 20px 0px 0px 0px;
    }
    .cover {
        margin: 20px 0px 20px 0px;
    }
    .cover img {
        height: 40vh;
    }
}