
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik&display=swap');

:root {
    --Rubik: 'Rubik', sans-serif;
    --Raleway: 'Raleway', sans-serif;
    --bmo: #3AAFA9;
    --mint: #6EF0CB;
    --pastelgray: #7B7C76;
    --whitesmoke: #F5F5F5;
}

html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

header, section {
    overflow-x: hidden;
}

header {
    background: var(--bmo);
}

header .navbar-brand {
    padding-left: 2em;
}

header a {
    color: var(--whitesmoke);
    font-family: var(--Rubik);
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header a:hover {
    color: var(--whitesmoke);
}

header .nav-link:hover {
    color: black;
}

header .row .col-md-7 {
    padding: 20vmin 1vmin;
    padding-bottom: 35vmin;
    color: var(--whitesmoke);
}

header .container .col-md-7 h1 {
    font-size: 8vmin;
    font-weight: bold;
    padding: 0.1em 0em;
    font-family: var(--Rubik);
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
    font-family: var(--Raleway);
}

header .row .col-md-5 {
    padding: 1vmin 1vmin;
    padding-bottom: 35vmin;
}

header .row .col-md-5 img {
    width: 90%;
    height: auto;
}
