
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik&display=swap');

:root {
    --Raleway: 'Raleway', sans-serif;
    --graylink: #557983;
    --mint: #5BBD93;
    --mango: #FB9927;
    --whitebkg: #EFF5F6;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--Raleway);
    background: var(--mint);
}

.user-dashboard {
    display: flex;
    margin: 50px auto;
    min-height: 80vh;
    width: 80%;
    justify-content: center;
    align-items: center;
    background: var(--whitebkg); 
}

/* Case Reports */

.case-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.case-container {
    background: var(--mango);
}

.add-btn {
    padding: 0.65rem 2rem;
    margin: 0 0.6rem;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border-color: transparent;
    background: black;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.case-table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.case-table thead {
    color: white;
    background: var(--mint);
}

.case-table th, td {
    padding: 12px 12px;
}

.case-table tr {
    border-radius: 10px;
}

.case-table td {
    background: white;
}